*,
*:before,
*:after {
  box-sizing: border-box;
}

body{
    margin: 48px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.toolset {
    display: flex;
    flex-wrap: wrap;
}

.section {
    flex: 1 1 10rem;
    min-width: min-content;
    max-width: fit-content;

}

.example-list div{
    display: block;
}
h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

.section {
    padding: 24px 50px;
    margin-right: 20px;
    background-color: rgb(248, 248, 248);
    margin-bottom: 20px;

}


.section h2 {
    padding-bottom: 12px;
    border-bottom: 1px solid gray;    
}

.fixes {
    max-width: max-content;
}


/* CHOOSE COMPONENT STYLES */
.choose-example {
    min-width: max-content;
}

fieldset {
    border: none;
    padding: 0;
}

fieldset div {
    margin: 12px 0;
    padding: 0;
}

fieldset label {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: black;
    width: 1.15em;
    height: 1.15em;
    border: 1px solid black;
    border-radius: 50%;
    transform: translateY(0.3em);
    display: grid;
    place-content: center;  
  }

  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 0.5em 0.5em black;
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
  }

  select{
    appearance: none;
    width: fit-content;
    border-radius: 0.25em;
    padding: 0.5em .5em;
    line-height: 1.1;
    background-color: #fff;
    border: 3px solid #000;
    margin: 0;
    font-family: inherit;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
  }
  select:hover{
    border-color: #006DFF
  }

  select:focus-visible{
    outline: 3px solid black;
  }

/* COLOR INPUT STYLES */

.color-input {
    margin: 20px 0;
    align-items: center;
}

.color-input label {
    display: block;
}

.color-input input{
    height: 36px;
    vertical-align: top;
    border: 1px solid black;
    padding: 0 12px;
}

.color-preview {
    width: 36px;
    height: 36px;
    border: 1px solid black;
    display: inline-block;
    margin-left: 8px;
}

.color-container {
    display: flex;
    flex-wrap: nowrap;
}

/* RESULTS STYLES */
.results {
    flex-basis: 1;
}

.passfail {
    font-weight: 400;
    padding: 12px;
    border-radius: 6px;
    width: 100%;
}

.passfail.pass {
    background-color: rgb(171, 246, 171);
}

.passfail.fail {
    background-color: rgb(249, 193, 193);
}

.ratio-result {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1rem;
}

.ratio-preview{
    border: 1px solid black;
    min-width: 40px;
    margin-right: 12px;
    display: inline-flex;
    border-radius: 12px;
    overflow: hidden;
}

.ratio-preview div{
    display: block;
    width: 20px !important;
    height: 40px !important;
}

/* HOW IT LOOKS STYLES */

.example {
    border: 4px dashed black;
    padding: 12px;
}

.example button {
    border-radius: 3px;
    padding: 6px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: 12px auto;
}

.example.two-colors-example, .example.three-colors-example{
    padding: 0 !important;
    border: none !important;
}

.example.large-text-example {
    font-size: 24px;
}

svg {
    border: 4px black dashed;
}

/* FIXES */
.fixes {
    display: flex;
    flex-wrap: wrap;
}

.fixesInput {
    min-width: fit-content;
    margin-right: 30px;
}

.resultsContainer {
    max-width: fit-content;
    flex: 1 1 10rem;

}

.results {
    display: flex;
    flex-wrap: wrap;
}

.result {
    min-width: max-content;
    font-size: 1rem;
    border: 2px solid gray;
    margin: 14px;
    padding: 14px;
}

.result p{
    display: flex;
    align-items: center;
}

.result .color-preview {
    height: 25px;
    width: 25px;
    display: inline-block;
    margin-right: 12px;
}

.changeSelect {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background-color: white;
    margin: 12px 0;
    align-items: center;
    width: fit-content;
}

.changeSelect * {
    margin: 0 12px;
}

.changeSelect input {
    width: 20px;
    height: 20px;
}

button.get-fixes {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    color: white;
    background-color: #006DFF;
    border-radius: 6px;
    padding: 12px;
    border: none;
}

button.get-fixes:hover {
    box-shadow: 4px 4px #90bef9;
}

button.see-more{
    margin-left: 12px;
}